<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Angular Learning- Tabibi</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
    </ul>
    <span class="navbar-text">
      Lets learn angular with me!
    </span>
  </div>
</nav>

<div class="row container-fluid">
  <div class="col-md-8">
    <ul class="list-group">
      <li *ngFor="let acc of accounts, let i=index" class="list-group-item">
        <app-account [account]='acc' [id]="i" (statusChanged)= "onChangeState($event)"></app-account>
      </li>
    </ul>
  </div>
  <div class="col-md-4">
    <app-new-account (addNewAccount)="onAddNewAccount($event)"></app-new-account>
  </div>
</div>
